body {
/*	font-family: 'Source Sans Pro', sans-serif; sans-serif;*/
	font-size:15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color: #dae0e7;
}


.container{
	width:100%;
	margin:auto;
	overflow:hidden;
	text-align: center;
}

.container p{
	text-align: left;
	padding: 0 15px 15px 15px;
}


#narwhalPicture {
	height: 150px;
	width: 150px;
	border-radius: 100%;
	padding:15px;
}



#about{
	color:#ffffff;
	background:#dae0e7; /*bluegray*/
}

#about h1{
	text-align: center;
	font-size: 15px;
}



.aboutNarwhal {
	background: #778492

}


#examples .box{
	text-align: center;
	padding: 10px;

}

#examples .box img{
 	max-height: 300px;
 	max-width: 400px;
	text-align: center;
}

#examples .box p{
	text-align: left;
}